[submodule "modules/tortoise-tts"]
	path = modules/tortoise-tts
  url = git@github.com:bonryu/tortoise-tts.git
[submodule "modules/dlas"]
	path = modules/dlas
	url = https://github.com/JarodMica/DL-Art-School.git
[submodule "modules/tortoise_dataset_tools"]
	path = modules/tortoise_dataset_tools
	url = https://github.com/JarodMica/tortoise_dataset_tools.git
[submodule "modules/rvc"]
  path = modules/rvc
  url = https://github.com/bonryu/Retrieval-based-Voice-Conversion.git
[submodule "modules/rvc-pipe"]
	path = modules/rvc-pipe
	url = git@github.com:bonryu/rvc-tts-pipeline.git
